.forgotPasswordWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.forgotPasswordTitle {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-gray);
}

.forgotPasswordForm {
    width: 100%;
    border-radius: 5px;
}

.forgotPasswordGroup {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.forgotPasswordInput {
    width: 100%;
    padding: 20px;
    margin: 10px 0;
    border: 2px solid var(--bg-light-grey);
    border-radius: 5px;
    font-size: 18px;
}

.forgotPasswordInput:focus{
    border: 2px solid var(--primary-color);
}
.forgotPasswordButtons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 250px;
    gap: 10px;
}

.forgotPasswordButton {
    width: 160px;
    height: 50px;
    padding: 10px;
    border: none;
}
