.selectContent {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 10px;
    width: 200px;
    top: 90px;
    padding: 10px ;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.selectContent.active {
    display: flex;
}

.selectInput {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 170px;
    height: 30px;
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    
}

.selectList {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    width: 180px;
    height: 200px;
    padding: 10px;
    overflow-y: auto;
    z-index: 1;
}

.selectItem {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 40px;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    color: var(--text-dark);
}

.selectItem:hover {
    background-color: var(--primary-color);
}