.swiperMain {
    width: 100%;
    height: 600px;
    border-radius: 30px;
    z-index: 0 !important;
}

.slideMain {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.slideMain img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.slideMainContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    width: 600px;
    top: 150px;
    left: 100px;
    height: 100%;
    z-index: 999;
    color: var(--text-light);
    text-align: center;
}

.slideMainTitle {
    font-size: 58px;
    text-align: start;
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--text-dark)
}

.slideMainSubtitle {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #413f3f;
}

.slideMainSubscribe {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 400px;
    height: 60px;
}

.slideMainSubscribeIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 50px;
    background-color: var(--text-light);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.slideMainSubscribeIcon i {
    font-size: 20px;
    color: var(--primary-color);
}

.slideMainSubscribeInput {
    width: 340px;
    height: 50px;
    padding: 10px;
    border: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    position: relative;
    font-size: 18px;
    color: var(--text-dark);
}

.slideMainSubscribeButton {
    width: 140px;
    height: 50px;
    margin-left: 20px;
    background-color: var(--primary-color);
    border-radius: 50px;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-light);
    cursor: pointer;
    transition: 0.3s;
    position: absolute;
    right: 140px;
}

.slideMainSubscribeButton:hover {
    background-color: var(--secondary-color);
    transition: 0.3s;
}

.swiper-slide:hover .swiper-button-next, .swiper-slide:hover .swiper-button-prev {
    opacity: 1;
    transition: 0.3s;
}

.swiper-button-next, .swiper-button-prev {
    display: none;
    align-items: center;
    justify-content: center;
    width: 50px !important;
    height: 50px !important;
    background-color: var(--bg-grey);
    border-radius: 50%;
    transition: 0.3s;
    opacity: 1;
    z-index: 999;
}

.swiper-button-next::after, .swiper-button-prev::after {
    font-size: 20px !important;
    color: var(--text-dark) !important;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
    background-color: var(--primary-color) !important;
    color: var(--text-light) !important;
    transition: 0.3s;
}

.swiper-pagination {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    z-index: 999;
}

.swiper-pagination-bullet {
    width: 15px !important;
    height: 15px !important;
    background-color: transparent !important;
    border: 1px solid var(--text-dark) !important;
    border-radius: 50%;
    cursor: pointer;
}

.swiper-pagination-bullet:hover {
    background-color: var(--primary-color) !important;
    transition: 0.3s;
}

.swiper-pagination-bullet-active {
    background-color: var(--primary-color) !important;
    transition: 0.3s;
}

